<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To Jin's Camp!</h1>
                <p>
                    This is Jin's Demo Website. This website allowed member to register, post, 
                    update and delete their picture, comment about the travel camping site. 
                    The administor has the privilege to delete every post.</br>
                    Technology Used: NodeJs, ExpressJs, MongoDB, JQuery, Boostrap</br>
                    Email: tomliufull@gmail.com
                </p>
                <a class="btn btn-primary bin-lg" href="/campgrounds/new">Add New Campground</a>
                </p>
            </div>
            
        </header>
        
        <div class="raw text-center" style="display:flex; flex-wrap:wrap;">
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                </div>
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
                
                
            </div>
            <% });%>
        </div>
        
    </div>


<% include ../partials/footer %>